# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
logs/*.log

# Data files
data/raw/*.json
data/raw/*.csv
data/processed/*.csv
data/processed/*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db